<div class="postContainer">
    
    <img id="postImg" src={{this.photo}} alt="{{this.name}}">

    <h2>{{this.name}}</h2>

    <p>{{this.smallDescription}}</p>

    <a id="postLink" href="/places/{{_id}}"><button>See more... </button></a>

</div>