<h1>My Favorites</h1>

<div class="placesContainer">
  
  {{#each allFavorites}}

  <div class="postContainer" data-post-id="{{ post._id }}">
    <h2>{{ post.name }}</h2>
    <img id="postImg" src={{post.photo}} alt="">
    <p>{{ post.smallDescription }}</p>
    <a id="postLink" href="/places/{{post._id}}"><button>See more... </button></a>
  </div>

  {{/each}}

</div>

