{{#if isAdmin}}
  <div class="buttons">
     <a href="/places/{{place._id}}/edit"><button>Edit</button></a>

    <form action="/places/{{place._id}}/delete" method="post">
      <button type="submit" class="delete"><i class="fa-solid fa-trash-can"></i> Delete</button>
    </form>
  
  </div>
{{/if}}

<h1 data-id="{{place._id}}">{{place.name}}</h1>

<div class="icons">
  <div class="fav"><i class="fa-regular fa-star favorite {{#if isFav}}fa-solid{{/if}}"></i>
  <p> Add to Favorites</p>
  </div>
  
  <div class="visit">
  <i class="fa-regular fa-bookmark to-visit {{#if isMarked}}fa-solid{{/if}}"></i>
  <p> Add to To Visit</p>
  </div>
</div>

<div class="infos">
   <img id="placeInfosImg" src={{place.photo}} alt="{{place.name}}">
    <p>{{place.description}}</p> 
</div>



<div id="map"></div>


<!--  Google Maps Key  -->
<script
src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}">
</script>

<!--  Connect main.js  -->
  <script type="text/javascript" src="/javascript/main.js"></script>